*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span
{
     color: white;
}
body
{
    background-color: rgb(38, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
}
.side
{
    width: 300px;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    padding-top: 5px;
}
.sidenav
{
    background: rgb(0, 0, 0);
    border-radius: 10px;
    padding:  20px 10px;
}
.sidenav.logo img
{
    width: 120px;

}
.sidenav.logo img
{
    width: 100px;
    padding-bottom: 5px;
}
.sidenav ul{
    list-style: none;
}
.sidenav ul li
{
    padding: 10px 20px;
}
.sidenav ul li a{ 
    text-decoration: none;
    color: black;
    font-size: 16px ;
    font-weight: 600;
    cursor: pointer;
}
.sidenav ul li a{ 
   font-size: 20px;
   margin-right: 10px;
   

}
.sidenav ul{
    list-style: none;
}
.sidenav ul li
{
    padding: 10px 20px;
}
.sidenav ul li a{ 
    text-decoration: none;
    color: black;
    font-size: 16px ;
    font-weight: 600;
    cursor: pointer;
}
.sidenav ul li a{ 
   font-size: 20px;
   margin-right: 10px;
   

}
.hi
{
    padding: 10px;
    color: white;
}